/* small size devices */

@media screen and (max-width:576px) {

    .nav-section,
    .hero {
        flex-direction: column-reverse;
    }



    .hero-profile-image {
        max-width: 100%;
    }

    .navbar-main {
        margin: 0;
    }

    .hero-description h1 {
        color: rgb(58, 58, 58);
        font-size: 1.5rem;
        font-weight: 700;
    }

    .hero-description {
        max-width: 100%;
        text-align: center;
    }

    .logo-container {
        grid-template-columns: repeat(4, 1fr);
        margin: 0 auto;
        padding: 0px;

    }

    .card-box {
        grid-template-columns: repeat(1, 1fr);
    }

    .card-box-footer {
        display: none;
    }
}








/* medium size devices */
@media screen and (min-width:576px) and (max-width:992px) {

    .hero,
    .nav-section {
        flex-direction: column-reverse;
    }

    .logo-container {
        grid-template-columns: repeat(3, 2fr);
        margin: 0 auto;
        padding: 0px;
        justify-items: center;

    }

    .logo {
        padding: 10px;
    }

    .card-box {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-box-footer {
        display: none;
    }
}